.assortiment {

    .region-header {
        height: 769px;
    }
}

.assortiment-row-2,
.assortiment-row-3,
.assortiment-row-4 {
    display: none;
}

// Assortiment blocks
.assortiment-menu {
    .tabs-items {
        position: relative;
        top: 73px;
        width: 1080px;
        margin: 0 auto;

        .item {
            display: block;
            float: left;
            cursor: pointer;
            background-color: $white;

            text-align: center;
            width: 270px;
            height: 90px;

            .assortiment-link,
            a {
                font-size: 18px;
                color: $black_light;
                display: block;
                width: 270px;
                height: 90px;
                line-height: 90px;

                &.active,
                &:hover {
                    text-decoration: none;
                    background-color: $blue;
                    color: $white;
                }
            }
        }
    }
}

.assortiment-details {
    margin-top: 70px;

    .pane-title {
        color: $green_light;
        font-size: 18px;
        margin-bottom: 6px;
    }

    .block-content {
        width: 1080px;
        margin: 0 auto;
    }
}

.assortiment-block {

    &.assortiment-popular .block-content {
        background-color: $grey;
    }

    .block-title {
        font-size: 36px;
    }

    .block-title,
    .view {
        width: 1080px;
        margin: 0 auto;
    }

    table {
        border: none;
        table-layout: fixed;

        th:first-child,
        th:nth-child(2),
        th:nth-child(3),
        .prod-link {
            text-align: left;
        }

        th {
            text-align: center;
            color: $grey_dark;
            font-size: 18px;
            padding: 19px 0 33px 0;

            &:last-child {
                width: 140px;
            }
            &:nth-child(2) {
                width: 180px;
            }
            &:nth-child(3) {
                width: 215px;
            }

        }

        tbody {
            tr {
                height: 230px;
                border-bottom: 1px solid #ccc;

                td {
                    text-align: center;
                }

                .prod-link {
                    padding-top: 17px;
                }

                .prod-amount,
                .prod-price {
                    text-align: left;
                }

                .prod-amount {
                    padding-left: 20px;
                }

                .product-assortiment-image {
                    float: left;
                    margin: 0 38px 0 -1px;
                }

                .product-assortiment-link {
                    font-size: 15px;
                    color: $green_light;
                    text-decoration: underline;
                    cursor: pointer;
                }

                .product-assortiment-popup {
                    .close-btn {
                        display: block;
                        content: '';
                        background: url("../images/close-btn.png") no-repeat;
                        background-size: contain;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        float: right;
                    }

                    &.hide {
                        display: none;
                    }

                    &.show {
                        display: block;
                        position:absolute;
                        left:0;
                        right:0;
                        margin-left:auto;
                        margin-right:auto;
                        background: $white;
                        max-width: 900px;
                        padding: 20px;
                        margin-top: -170px;
                        z-index: 6000;

                        .block {
                            max-width: 720px;

                            &-1 {
                                padding-bottom: 30px;
                                border-bottom: 1px solid $grey_dark;
                            }

                            .title {
                                margin-bottom: 10px;
                                width: 100%;
                            }

                            .cell {
                                max-width: 250px;
                                padding-right: 40px;
                                float: left;
                            }
                        }
                    }
                }

                .sm-title {
                    font-size: 24px;
                    margin-bottom: 10px;
                    padding-top: 32px;
                    line-height: 32px;
                }

                .form-placeholder {
                    input {
                        width: 58px;
                        height: 34px;
                        text-align: center;
                    }

                    .minus,
                    .plus {
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        width: 16px;
                        height: 16px;
                        text-indent: -99999px;

                        &:before {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            position: absolute;
                            top: 12px;
                            background: $green;
                        }
                    }

                    .minus {
                        margin-right: 20px;
                    }

                    .plus {
                        margin-left: 20px;

                        &:after {
                            content: '';
                            display: block;
                            width: 2px;
                            height: 100%;
                            position: absolute;
                            left: 7px;
                            top: 5px;
                            background: $green;
                        }
                    }
                }
            }
        }
    }
}

.assortiment-total-price .button a {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(grayscale.svg);
    filter: gray;
    pointer-events: none;

    &.active {
        filter: none;
        -webkit-filter: grayscale(0%);
        pointer-events: auto;
    }
}

.assortiment-total-price {
    width: 1080px;
    margin: 60px auto 0;

    .pane-title {
        font-size: 17px;
        margin-bottom: 27px;
    }

    table,
    thead,
    tbody,
    tr,
    td,
    .empty-result {
        border: none;
        width: 840px;
        color: $grey_light;
    }

    .empty-result {
        display: inline-block;
    }

    table {
        width: 840px;
        display: inline-block;

        tr {

            &:last-child {
                line-height: 55px;
            }
        }
    }

    .total-wrapper {
        width: 300px;
        float: right;
    }

    .bottom-wrapper {
        color: $black_light;
        padding: 130px 0 170px 0;

        .details-text {
            width: 640px;
            float: left;
            display: block;
        }

        .button.btn-more {
            text-align: right;
            padding-right: 120px;
        }
    }
}