body.faq {

    .faq-question {
        cursor: pointer;
        display: block;

        &:after {
            content: '';
            position: absolute;
            width: 23px;
            height: 13px;
            right: 0;
            background: url("../images/arrow_down.png") no-repeat;
        }

        &.open:after {
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg)
        }
    }

    .faq-answer {
        display: none;
        margin-top: 25px;
        padding-top: 25px;
        border-top: 1px solid #ccc;

        p {
            margin: 0;
            text-align: justify;
        }
    }

    .faq-row {
        position: relative;
    }

    .region-header {
        background-image: none;
        height: auto;
        padding-bottom: 120px;
    }

    h3 {
        font-size: 18px;
        margin: 0;
    }

    .panel-separator {
        display: none;
    }

    .faq-menu,
    .faq-header,
    .faq-list {
        width: 100%;
        padding: 0;

        .block-inner {
            padding: 0 20px;
        }
    }

    .faq-header {

        .block-title {
            margin: 0 0 20px;
        }

        p {
            font-size: 15px;
            line-height: 30px;
            margin: 0;
        }

        hr {
            border: 1px solid $grey_light;
            height: 0;
            margin: 60px 0;
        }
    }

    .faq-menu {
        .tabs-items .item,
        .tabs-items .item a {
            width: 100%;
            text-align: center;
        }
    }

    .item-list {
        padding: 0 20px;

        ul, li {
            padding: 0;
            margin: 0;
        }

        li {
            list-style: none;
            font-size: 15px;
            border-top: 1px solid $grey_light;
            padding: 40px 25px 40px 0;
        }

        h3 {
            padding: 60px 0 30px;
        }
    }

    @media (min-width: 600px) and (max-width: 700px) {
        body.faq .faq-menu .tabs-items .item,
        body.faq .faq-menu .tabs-items .item a {
            width: 180px;
        }
    }

}