# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

coverage
node_modules
npm-debug.log
.tmp
.DS_Store
.sass-cache
.env
.c9
.idea

# Mac DS_Store Files
.DS_Store
