
// _base.scss imports _custom.scss and other partials.
@import "base";

// import pages styles
@import "pages/service.desktop";
@import "pages/faq.desktop";
@import "pages/assortiment.desktop";
@import "pages/systemen.desktop";

.mob-menu {
    display: none;
}

.pane-title,
.title {
    font-size: 45px;
    line-height: 55px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;

    &.sm-title {
        font-size: 36px;
    }
}


a.button,
.button a,
.webform-submit.button-primary {
    display: inline-block;
    position: relative;
    width: auto;
    height: 40px;
    padding: 0 60px 0 40px;
    background: $green;
    border: 4px solid $white;
    -webkit-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
    -moz-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
    box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    transition: background .2s ease-in;

    &:hover {
        background: $green_btn_hover;
        text-decoration: none;
    }

    &:after {
        display: block;
        position: absolute;
        content: '';
        background: url('../images/arrow-right.png') no-repeat;
        width: 23px;
        height: 12px;
        right: 17px;
        bottom: 15px;
    }
}

.clear {
    clear: both;
}

.systemen-details .wrapper-text,
.systemen-details .block-2,
.systemen-details .block-3,
.systemen-details .block-4,
.systemen-details .block-5,
.systemen-details .system-video {
    width: 1080px;
    margin: 0 auto;
}

.block .cell .block-title {
    font-size: 15px;
    color: $yellow_light2;
}

// Top header section
.region-top-header {
    height: 40px;
    width: 100%;
    background: $green;
}

.region-top-header,
.region-footer {
    ul.menu {
        display: inline;
        float: right;
        padding: 0;
        margin: 0;

        li {
            display: inline;
            list-style-type: none;
            padding: 0 32px 0 2px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 700;
            line-height: 40px;
            color: $white;
            text-align: right;
            text-transform: uppercase;

            a {
                cursor: pointer;
                color: inherit;
                text-decoration: inherit;
            }
        }
    }
}

.region-header ul.menu li {
    transition: background .2s ease-in;

    &:hover {
        background: $green_btn_hover;
    }
}

.region-header {
    height: 900px;
    background: url('../images/main-header-bg.jpg') no-repeat;
    background-size: cover;
    position: relative;

    .logo {
        display: block;
        position: relative;
        top: -22px;
        left: 31px;
        width: 196px;
        height: 124px;

        img {
            position: relative;
            z-index: 100;
        }
    }

    .main-menu {
        display: block;
        position: absolute;
        right: 12px;
        top: 41px;
    }

    ul.menu {
        display: block;
        padding: 0;
        margin: 0;

        li {
            display: block;
            width: auto;
            list-style-type: none;
            text-decoration: none;
            float: left;
            margin-right: 20px;
            background: $green;
            border: 4px solid $white;
            -webkit-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
            -moz-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
            box-shadow: 6px 6px rgba(41, 117, 24, 0.7);

            a {
                padding: 15px;
                text-decoration: none;
                font-size: 18px;
                line-height: 40px;
                font-weight: 700;
                color: $white;
            }
        }
    }

    .header-details {
        position: relative;
        display: block;
        width: auto;
        height: 590px;
        background: $yellow;
        border: 20px solid $white;
        margin: 0 32px;

        .block-content {
            padding: 100px;
        }

        .text {
            display: inline-block;
            position: relative;
            width: 50%;
            height: auto;

            .pane-title,
            .details-txt,
            p {
                max-width: 500px;
                margin: 35px auto 20px;
                padding-left: 18px;
            }
        }

        &.header-details-assortiments,
        &.header-details-systemen {

            height: 410px;

            .text {
                text-align: center;
            }
        }

        .product-img {
            display: inline-block;
            position: relative;
            background: url("../images/product.png") no-repeat;
            width: 50%;
            height: 529px;
            right: 0;
            bottom: 0;
            float: right;
            background-size: contain;
            background-position: 50% 0;

            &.assortiment {
                background: url("../images/assoriment-prod.png") no-repeat;
                background-size: contain;
                background-position: 50% 0;
                height: 212px;
                bottom: 0;
                float: right;
            }

            &.systemen {
                background: url("../images/systemen.png") no-repeat;
                background-size: contain;
                background-position: 50% 0;
                height: 269px;
                bottom: 0;
                float: right;
            }
        }
    }
}


.desc-section {
    display: block;
    position: relative;
    height: 450px;
    padding-top: 135px;

    .pane-title {
        text-align: center;
        color: $green;
        margin: 130px 0 50px 0;
    }

    .details-txt {
        font-size: 15px;
        color: #2a2927;
        width: 515px;
        text-align: center;
        margin: 0 auto;
        line-height: 30px;
    }

    .product-img {
        display: block;
        position: absolute;
        right: 0;
        background: url("../images/product-img-2.png") no-repeat;
        width: 503px;
        height: 529px;
        bottom: -60px;
        background-size: cover;
        z-index: 10;
    }
}



// Section details 2
.desc-section-more {
    display: block;
    position: relative;
    background: $green;
    min-height: 1025px;

    &-footer {
        display: block;
        position: absolute;
        background: url("../images/footer.jpg") no-repeat;
        background-size: cover;
        width: 100%;
        height: 270px;
        z-index: 1;
        bottom: 0;
    }

    .pane-title {
        font-size: 36px;
        color: $yellow_light;

        padding-top: 90px;
        margin-bottom: 23px;
        text-align: center;
    }

    .details-txt {
        font-size: 15px;
        color: $white;
        width: 515px;
        text-align: center;
        margin: 0 auto;
        line-height: 30px;
    }

    .home-items .product-img {
        height: 220px;
    }

    .product-items-owl {
        min-height: 0!important;
        overflow: hidden!important;
        height: 0 !important;
        opacity: 0 !important;
    }

    .product-items {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 10;
        background: $white;
        margin: 80px 20px 0;
        padding: 10px;
        width: auto;
        min-height: 560px;

        .item {
            display: block;
            max-width: 230px;
            min-width: 220px;
            height: 540px;
            background: $yellow;
            float: left;
            margin-right: 20px;
            padding-top: 38px;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }

            .details-txt {
                width: auto;
                margin-bottom: 35px;
                color: $black_light;
            }

            .prod-title {
                font-size: 24px;
                color: $black_light;
                margin: 60px auto 17px;
            }

            .button a {
                margin-bottom: 40px;
            }

            &-1 {
                .product-img {
                    background: url("../images/header-carrousel.png") no-repeat;
                    width: 136px;
                    height: 205px;
                    margin: 0 auto;
                }
            }

            &.last {
                margin-right: 0;
            }
        }
    }
}

// Footer section

.region-footer {
    display: block;
    width: 100%;
    height: 90px;
    background: $black_light;

    ul.menu {
        margin-top: 30px;
    }
}

// Systemen overview page
.systemen .region-header {
    height: 484px;
}

.systemen-overview {
    display: block;
    color: $white;
    margin: 20px 12px;
    padding-top: 100px;

    .systemen {
        display: block;
        height: 410px;
        padding: 70px 10px 0 10px;
        margin: 20px 0;

        &.red {
            background-color: $red;
        }
        &.blue {
            background-color: $blue_light;
        }
        &.green {
            background-color: $green_light;
        }

        .product-img {
            float: left;
            width: 50%;
            text-align: center;
        }

        .prod-title {
            font-size: 36px;
            line-height: 36px;
        }

        .product-text {
            float: left;
            width: 50%;

            .product-txt {
                font-size: 15px;
                line-height: 30px;

                .bold {
                    font-weight: 700;
                }
            }

            .product-details-desc {
                color: $black_light;
            }

            .product-links {
                margin-top: 40px;

                .btn-more {
                    width: 50%;
                    float: left;
                }

                .product-details-info {
                    padding: 12px 0 0 0;
                    color: $white;
                    text-decoration: underline;

                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}

    .systemen-footer-section-1 {
        width: 50%;
        display: inline-block;
        float: left;
        padding: 56px 0 24px 151px;

        .title {
            margin-bottom: 10px;
        }
    }

    .systemen-footer-section-2 {
        padding: 56px 0 24px 108px;
        display: inline-block;

        .title {
            margin-bottom: 10px;
        }

        .description {
            margin: 25px 0;
        }
    }

    .systemen-footer {
        margin-bottom: 45px;
    }

// Overlay
.body-overlay {
    display: none;

    &.show {
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        min-width: 1000px;
        overflow: hidden;
        display: block;
        z-index: 5000;
        background: 0 0;
        background: rgba(0,0,0,.4);
    }
}


@media (min-width: 1300px) {

    .region-header .header-details .product-img {
        bottom: 60px;
    }

}

@media (min-width: 1380px) {
    .region-header .header-details,
    .region-header .logo,
    .top-menu,
    .main-menu-list,
    .region-footer .panels-flexible-region-inside-first,
    .desc-section,
    .home-items {
        max-width: 1360px;
        margin: 0 auto;
    }

    .region-header .logo {
        left: 0;

        img {
            margin-left: 11px;
        }
    }

    .region-header .header-details {
        max-width: 1320px;
    }

    .region-header .logo {
        width: auto;
    }

    .systemen .region-header {
        height: 484px;
        padding-bottom: 80px;
    }

    .assortiment .region-header {
        height: auto;
        padding-bottom: 80px;
    }

    .assortiment .region-header {
        padding-bottom: 72px;
    }

    .region-top-header ul.menu li {
        padding: 0;
    }

    .region-header .main-menu.main-menu-list {
        position: relative;
        top: -100px;
        right: 0;

        ul.menu {
            float: right;
        }
    }

    .desc-section-more .product-items .item {
        max-width: 250px;
        min-width: 250px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 1278px) {

    .region-header ul.menu li a {
        font-size: 12px;
    }

    .region-header .header-details .text .pane-title {
        font-size: 35px;
        line-height: 45px;
    }

    .desc-section-more .product-items {
        display: block;
    }

    .desc-section-more .product-items .item {
        float: none;
        margin-bottom: 10px;
        max-width: 100%;
        min-width: 100%;
        height: 330px;
    }

    .desc-section-more .product-items .item .product-img,
    .desc-section-more .product-items .item .product-img .text {
        display: inline-block;
        width: 50%;
        height: 330px;
    }

    .desc-section-more .product-items .item .product-img {
        float: right;

        img {
            top: 50px;
            position: relative;
        }
    }

    .desc-section .product-img {
        display: none;
    }
}


@media (max-width: 1150px) {
    .assortiment-menu .tabs-items .item,
    .assortiment-menu .tabs-items .item a {
        width: 220px;
    }

    .assortiment-menu .tabs-items,
    .assortiment-details .block-content {
        width: 100%;
    }

    .assortiment-block .block-title,
    .assortiment-block .view,
    .assortiment-total-price,
    .systemen-details .wrapper-text,
    .systemen-details .block-2,
    .systemen-details .block-3,
    .systemen-details .block-4,
    .systemen-details .block-5,
    .systemen-details .system-video,
    #youtube-field-player,
    .product-order-header,
    .product-order-radio-btns {
        width: 90%;
    }

    .systemen-details .block .cell {
        max-width: 240px;
        margin-right: 50px;
    }

    .page-service .service-content {
        width: 850px;
        padding: 0;
    }

    .page-service .service-content .webform-container-inline label {
        margin-right: 80px;
    }

    .page-service .service-content .address-number input {
        right: 90px;
    }

    .assortiment-details .block-content .text {
        padding-left: 20px;
    }

    .assortiment-total-price table,
    .assortiment-total-price td,
    .assortiment-total-price .bottom-wrapper .details-text,
    .empty-result {
        width: 450px;
    }

    .assortiment-total-price .bottom-wrapper .button.btn-more {
        padding-right: 90px;
    }
    .assortiment-total-price table tr td {
        &:last-child {
            text-align: right;
        }
    }

    .assortiment-block table tbody tr .sm-title {
        font-size: 20px;
        line-height: 25px;
    }

    .assortiment-block table tbody tr .prod-link {
        padding-bottom: 20px;

        .product-assortiment-image {
            float: none;
        }
    }

    .assortiment-total-price .total-wrapper {
        width: 270px;
    }


    .systemen-footer-section-1 {
        padding: 56px 0 24px;

        .title,
        .details-text {
            padding-left: 50px;
        }
    }
}
