
// _base.scss imports _custom.scss and other partials.
@import "base";

// import service page styles
@import "pages/service.desktop";

.pane-title,
.title {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;

    &.sm-title {
        font-size: 36px;
    }
}


a.button,
.button a,
.webform-submit.button-primary {
    display: inline-block;
    position: relative;
    width: auto;
    height: 40px;
    padding: 0 60px 0 40px;
    background: $green;
    border: 4px solid $white;
    -webkit-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
    -moz-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
    box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }

    &:after {
        display: block;
        position: absolute;
        content: '';
        background: url('../images/arrow-right.png') no-repeat;
        width: 23px;
        height: 12px;
        right: 17px;
        bottom: 15px;
    }
}

.clear {
    clear: both;
}

.systemen-details .wrapper-text,
.systemen-details .block-2,
.systemen-details .block-3,
.systemen-details .block-4,
.systemen-details .block-5,
.systemen-details .system-video {
    width: 1080px;
    margin: 0 auto;
}

.block .cell .block-title {
    font-size: 15px;
    color: $yellow_light2;
}

// Top header section
.region-top-header {
    height: 40px;
    width: 100%;
    background: $green;
}

.region-top-header,
.region-footer {
    ul.menu {
        display: inline;
        float: right;
        padding: 0;
        margin: 0;

        li {
            display: inline;
            list-style-type: none;
            padding: 0 32px 0 2px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 700;
            line-height: 40px;
            color: $white;
            text-align: right;
            text-transform: uppercase;

            a {
                cursor: pointer;
                color: inherit;
                text-decoration: inherit;
            }
        }
    }
}


.region-header {
    height: 900px;
    background: url('../images/main-header-bg.jpg') no-repeat;
    background-size: cover;
    position: relative;

    .logo {
        display: block;
        position: relative;
        top: -22px;
        left: 31px;
        width: 196px;
        height: 124px;
        background: url('../images/logo.png') no-repeat;
    }

    .main-menu {
        display: block;
        position: absolute;
        right: 12px;
        top: 41px;
    }

    ul.menu {
        display: block;
        padding: 0;
        margin: 0;

        li {
            display: block;
            width: auto;
            list-style-type: none;
            text-decoration: none;
            float: left;
            margin-right: 20px;
            background: $green;
            border: 4px solid $white;
            -webkit-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
            -moz-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
            box-shadow: 6px 6px rgba(41, 117, 24, 0.7);

            a {
                padding: 15px;
                text-decoration: none;
                font-size: 18px;
                line-height: 40px;
                font-weight: 700;
                color: $white;
            }
        }
    }

    .header-details {
        position: relative;
        display: block;
        width: auto;
        height: 590px;
        background: $yellow;
        border: 20px solid $white;
        margin: 0 32px;

        .text {
            display: block;
            position: relative;
            width: 700px;
            top: 100px;
            left: 100px;
            height: auto;
        }

        &.header-details-assortiments {

            height: 410px;

            .text {
                position: static;
                width: auto;
                text-align: center;
                margin: 80px 0 0 0;
            }
        }

        .product-img {
            display: inline-block;
            position: relative;
            background: url("../images/product.png") no-repeat;
            width: 660px;
            height: 529px;
            right: 50px;
            bottom: 260px;
            float: right;

            &.assortiment {
                background: url("../images/assoriment-prod.png") no-repeat;
                width: 279px;
                height: 212px;
                right: 39px;
                bottom: 108px;
                float: right;
            }

            &.systemen {
                background: url("../images/systemen.png") no-repeat;
                width: 233px;
                height: 269px;
                right: 50px;
                bottom: 0px;
                float: right;
            }
        }
    }
}


.desc-section {
    display: block;
    position: relative;
    height: 450px;
    padding-top: 135px;

    .pane-title {
        text-align: center;
        color: $green;
        margin: 0 0 50px 0;
    }

    .details-txt {
        font-size: 15px;
        color: #2a2927;
        width: 515px;
        text-align: center;
        margin: 0 auto;
        line-height: 30px;
    }

    .product-img {
        display: block;
        position: absolute;
        right: 0;
        background: url("../images/product-img-2.png") no-repeat;
        width: 503px;
        height: 529px;
        bottom: -60px;
        background-size: cover;
        z-index: 10;
    }
}



// Section details 2
.desc-section-more {
    display: block;
    position: relative;
    background: $green;
    min-height: 1025px;

    &-footer {
        display: block;
        position: absolute;
        background: url("../images/footer.jpg") no-repeat;
        background-size: cover;
        width: 100%;
        height: 270px;
        z-index: 1;
        bottom: 0;
    }

    .pane-title {
        font-size: 36px;
        color: $yellow_light;

        padding-top: 90px;
        margin-bottom: 23px;
        text-align: center;
    }

    .details-txt {
        font-size: 15px;
        color: $white;
        width: 515px;
        text-align: center;
        margin: 0 auto;
        line-height: 30px;
    }

    .product-items {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 10;
        background: $white;
        margin: 80px 20px 0;
        padding: 10px;
        width: auto;
        min-height: 560px;

        .item {
            display: block;
            max-width: 250px;
            min-width: 220px;
            height: 517px;
            background: $yellow;
            float: left;
            margin-right: 20px;
            padding-top: 38px;
            text-align: center;

            .details-txt {
                width: auto;
                margin-bottom: 35px;
                color: $black_light;
            }

            .prod-title {
                font-size: 24px;
                color: $black_light;
                margin: 60px auto 17px;
            }

            .button a {
                margin-bottom: 40px;
            }

            &-1 {
                .product-img {
                    background: url("../images/header-carrousel.png") no-repeat;
                    width: 136px;
                    height: 205px;
                    margin: 0 auto;
                }
            }

            &.last {
                margin-right: 0;
            }
        }
    }
}

// Footer section

.region-footer {
    display: block;
    width: 100%;
    height: 90px;
    background: $black_light;

    ul.menu {
        margin-top: 30px;
    }
}





// Systemen overview page

.systemen-overview {
    display: block;
    color: $white;
    margin: 20px;
    top: -160px;

    .systemen {
        display: block;
        height: 410px;
        padding: 70px 10px 0 10px;
        margin: 20px 0;

        &.red {
            background-color: $red;
        }
        &.blue {
            background-color: $blue_light;
        }
        &.green {
            background-color: $green_light;
        }

        .product-img {
            float: left;
            width: 50%;
            text-align: center;
        }

        .prod-title {
            font-size: 36px;
            line-height: 36px;
        }

        .product-text {
            float: left;
            width: 50%;

            .product-txt {
                font-size: 15px;
                line-height: 30px;

                .bold {
                    font-weight: 700;
                }
            }

            .product-details-desc {
                color: $black_light;
            }

            .product-links {
                margin-top: 40px;

                .btn-more {
                    width: 50%;
                    float: left;
                }

                .product-details-info {
                    padding: 12px 0 0 0;
                    color: $white;
                    text-decoration: underline;

                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}

    .systemen-footer-section-1 {
        width: 50%;
        display: block;
        float: left;
        padding: 20px;
    }


// assortiment blocks

.assortiment-menu {
    .tabs-items {
        position: relative;
        top: 73px;
        width: 1080px;
        margin: 0 auto;

        .item {
            display: block;
            float: left;
            cursor: pointer;
            background-color: $white;

            text-align: center;
            width: 270px;
            height: 90px;

            a {
                font-size: 18px;
                color: $black_light;
                display: block;
                width: 270px;
                height: 90px;
                line-height: 90px;

                &.active,
                &:hover {
                    text-decoration: none;
                    background-color: $blue;
                    color: $white;
                }
            }
        }
    }
}

.assortiment-details {
    margin-top: 70px;

    .pane-title {
        color: $green_light;
        font-size: 18px;
        margin-bottom: 6px;
    }

    .block-content {
        width: 1080px;
        margin: 0 auto;
    }
}


.assortiment-block {

    &.assortiment-popular .block-content {
        background-color: $grey;
    }

    .block-title {
        font-size: 36px;
    }

    .block-title,
    .view {
        width: 1080px;
        margin: 0 auto;
    }

    table {
        border: none;
        table-layout: fixed;
        
        th:first-child,
        th:nth-child(2),
        th:nth-child(3),
        .prod-link {
            text-align: left;
        }

        th {
            text-align: center;
            color: $grey_dark;
            font-size: 18px;
            padding: 19px 0 33px 0;

            &:last-child {
                width: 140px;
            }
            &:nth-child(2) {
                width: 180px;
            }
            &:nth-child(3) {
                width: 215px;
            }

        }

        tbody {
            tr {
                height: 230px;
                border-bottom: 1px solid #ccc;

                td {
                    text-align: center;
                }

                .prod-link {
                    padding-top: 17px;
                }

                .prod-amount,
                .prod-price {
                    text-align: left;
                }

                .prod-amount {
                    padding-left: 20px;
                }

                .product-assortiment-image {
                    float: left;
                    margin: 0 38px 0 -1px;
                }

                .product-assortiment-link {
                    font-size: 15px;
                    color: $green_light;
                    text-decoration: underline;

                }

                .sm-title {
                    margin-bottom: 10px;
                    padding-top: 32px;
                    line-height: 32px;
                }

                .form-placeholder {
                    input {
                        width: 58px;
                        height: 34px;
                        text-align: center;
                    }

                    .minus,
                    .plus {
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        width: 16px;
                        height: 16px;
                        text-indent: -99999px;

                        &:before {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            position: absolute;
                            top: 12px;
                            background: $green;
                        }
                    }

                    .minus {
                        margin-right: 20px;
                    }

                    .plus {
                        margin-left: 20px;

                        &:after {
                            content: '';
                            display: block;
                            width: 2px;
                            height: 100%;
                            position: absolute;
                            left: 7px;
                            top: 5px;
                            background: $green;
                        }
                    }
                }
            }
        }
    }
}

// Systemen details page

.systemen-details {
    .block {
        &.blue {
            background-color: $blue_bg;
            color: $white;
        }
        
        .cell {
            max-width: 250px;
            display: block;
            float: left;
            margin-right: 100px;

            .title {
                padding-bottom: 30px;
            }
        }
    }

    .block-1 {
        .title {
            padding: 170px 0 75px 0;
        }

        .details-txt {
            padding: 0 0 70px 0;
            max-width: 730px;
        }
    }
    .block-2 {
        .details-txt {
            padding: 75px 0 70px 0;
            max-width: 380px;
            line-height: 30px;
        }
    }
}


.assortiment {

    .region-header {
        height: 769px;
    }
}


.assortiment-total-price {
    width: 1080px;
    margin: 60px auto 0;

    .pane-title {
        font-size: 17px;
        margin-bottom: 27px;
    }

    table,
    thead,
    tbody,
    tr,
    td {
        border: none;
    }

    table {

        tr {

            &:last-child {
                line-height: 55px;
            }
        }
    }
}
