
// _base.scss imports _custom.scss and other partials.
@import "base";
@import "pages/service.mob.desktop";
@import "pages/faq.mob.desktop";


.top-menu,
.region-header .main-menu.main-menu-list,
.desc-section .product-img {
  display: none;
}

.pane-title,
.title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;

  &.sm-title {
    font-size: 36px;
  }
}


a.button,
.button a,
.webform-submit.button-primary {
  display: inline-block;
  position: relative;
  width: auto;
  height: 40px;
  padding: 0 60px 0 40px;
  background: $green;
  border: 4px solid $white;
  -webkit-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
  -moz-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
  box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  transition: background .2s ease-in;

  &:hover {
    background: $green_btn_hover;
    text-decoration: none;
  }

  &:after {
    display: block;
    position: absolute;
    content: '';
    background: url('../images/arrow-right.png') no-repeat;
    width: 23px;
    height: 12px;
    right: 17px;
    bottom: 15px;
  }
}

.clear {
  clear: both;
}

.systemen-details .wrapper-text,
.systemen-details .block-2,
.systemen-details .block-3,
.systemen-details .block-4,
.systemen-details .block-5,
.systemen-details .system-video,
#youtube-field-player {
  width: 100%;
  margin: 0 auto;
}

.block .cell .block-title {
  font-size: 15px;
  color: $yellow_light2;
}

// Top header section

.region-top-header {
  height: 90px;
  width: 100%;
  background: $green;

  .mob-menu {
    position: relative;
    display: block;
    z-index: 10;

    ul.menu {
      width: 100%;
      height: 420px;
      background: green;
      padding-top: 100px;
      display: none;
    }

    ul.menu.show {
      display: block;
    }

    ul.menu.close {
      display: none;
    }

    ul.menu li {
      font-size: 18px;
      text-align: left;
      padding: 5px 10px 5px 32px;
      border-top: 1px solid $grey_light;
    }

    .menuIcon {
      height: 80px;
      width: 66px;
      position: absolute;
      display: block;
      top: 15px;
      right: 15px;
      bottom: 0;
      cursor: pointer;

      span,
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        height: 5px;
        background: $white;
      }

      @include transition(all 180ms ease);

      &:before {
        top: 10px;
      }
      span {
        top: 30px;
      }
      &:after {
        top: 50px;
      }

      &.close {
        @include transform(rotate(360deg));

        span {
          opacity: 0;
        }
        &:before {
          @include transform(rotate(45deg) translate(13px,19px));
        }
        &:after {
          @include transform(rotate(-45deg) translate(10px, -14px));
        }
      }
    }
  }
}

.region-top-header,
.region-footer {
  ul.menu {
    display: block;
    float: right;
    padding: 0;
    margin: 0;

    li {
      display: block;
      list-style-type: none;
      padding: 0 32px 0 2px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 40px;
      color: $white;
      text-align: right;
      text-transform: uppercase;

      a {
        cursor: pointer;
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
}

.region-header ul.menu li {
  transition: background .2s ease-in;

  &:hover {
    background: $green_btn_hover;
  }
}

.region-header {
  height: 900px;
  background: url('../images/main-header-bg.jpg') no-repeat;
  background-size: cover;
  position: relative;

  .logo {
    display: block;
    position: relative;
    top: -70px;
    left: 15px;
    width: 180px;
    height: auto;

    img {
      width: 180px;
      height: auto;
    }
  }

  .main-menu {
    display: block;
    position: absolute;
    right: 12px;
    top: 41px;
  }

  ul.menu {
    display: block;
    padding: 0;
    margin: 0;

    li {
      display: block;
      width: auto;
      list-style-type: none;
      text-decoration: none;
      float: left;
      margin-right: 20px;
      background: $green;
      border: 4px solid $white;
      -webkit-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
      -moz-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
      box-shadow: 6px 6px rgba(41, 117, 24, 0.7);

      a {
        padding: 15px;
        text-decoration: none;
        font-size: 18px;
        line-height: 40px;
        font-weight: 700;
        color: $white;
      }
    }
  }

  .header-details {
    position: relative;
    display: block;
    width: auto;
    height: 590px;
    background: $yellow;
    border: 15px solid $white;
    margin: 0 12px;

    .block-content {
      padding: 0;
    }

    .text {
      display: inline-block;
      position: relative;
      width: 100%;
      height: auto;
      text-align: center;

      .pane-title,
      .details-txt,
      p {
        max-width: 300px;
        margin: 35px auto 20px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    &.header-details-assortiments,
    &.header-details-systemen {

      height: 410px;

      .text {
        text-align: center;
      }
    }

    .product-img {
      display: inline-block;
      position: relative;
      background: url("../images/product.png") no-repeat;
      width: 100%;
      height: 320px;
      right: 0;
      bottom: 0;
      float: right;
      background-size: contain;
      background-position: 50% 0;

      &.assortiment {
        background: url("../images/assoriment-prod.png") no-repeat;
        background-size: contain;
        background-position: 50% 0;
        height: 200px;
        bottom: 0;
        float: right;
      }

      &.systemen {
        background: url("../images/systemen.png") no-repeat;
        background-size: contain;
        background-position: 50% 0;
        height: 200px;
        bottom: 0;
        float: right;
      }
    }
  }
}


.desc-section {
  display: block;
  position: relative;
  height: auto;
  margin-bottom: 50px;

  .pane-title {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: $green;
    margin: 50px 0 30px 0;
  }

  .details-txt {
    font-size: 15px;
    color: #2a2927;
    width: auto;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    line-height: 30px;
  }
}



// Section details 2
.desc-section-more {
  display: block;
  position: relative;
  background: $green;
  min-height: 1025px;

  &-footer {
    display: block;
    position: absolute;
    background: url("../images/footer.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 270px;
    z-index: 1;
    bottom: 0;
  }

  .pane-title {
    font-size: 20px;
    color: $yellow_light;

    padding-top: 60px;
    margin-bottom: 23px;
    text-align: center;
  }

  .details-txt {
    font-size: 15px;
    color: $white;
    width: auto;
    text-align: center;
    margin: 0 auto;
    line-height: 25px;
  }

  .product-items {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 10;
    background: $white;
    margin: 80px 20px 0;
    padding: 10px;
    width: auto;
    min-height: 560px;

    .item {
      display: block;
      width: 100%;
      height: 517px;
      background: $yellow;
      float: left;
      margin-right: 20px;
      padding-top: 38px;
      text-align: center;

      .product-img {
        height: 200px;
      }

      .details-txt {
        width: auto;
        margin-bottom: 35px;
        color: $black_light;
      }

      .prod-title {
        font-size: 24px;
        color: $black_light;
        margin: 60px auto 17px;
      }

      .button a {
        margin-bottom: 40px;
      }

      &-1 {
        .product-img {
          background: url("../images/header-carrousel.png") no-repeat;
          width: 136px;
          height: 205px;
          margin: 0 auto;
        }
      }

      &.last {
        margin-right: 0;
      }
    }
  }
}

// Footer section

.region-footer {
  display: block;
  width: 100%;
  height: 170px;
  background: $black_light;

  ul.menu {
    display: block;
    margin-top: 30px;

    li {
      display: block;
    }
  }
}

// Systemen overview page

.systemen-overview {
  display: block;
  color: $white;
  margin: 20px 12px;

  .systemen {
    display: block;
    min-height: 600px;
    padding: 70px 10px 0 10px;
    margin: 20px 0;

    &.red {
      background-color: $red;
    }
    &.blue {
      background-color: $blue_light;
    }
    &.green {
      background-color: $green_light;
    }

    .product-img {
      width: 100%;
      text-align: center;
    }

    .prod-title {
      font-size: 36px;
      line-height: 36px;
      margin-top: 25px;
    }

    .product-text {
      width: 100%;
      text-align: center;

      .product-txt {
        font-size: 15px;
        line-height: 30px;

        .bold {
          font-weight: 700;
        }
      }

      .product-details-desc {
        color: $black_light;
      }

      .product-links {
        margin-top: 40px;

        .btn-more {
          width: 100%;
        }

        .product-details-info {
          padding: 12px 0 0 0;
          color: $white;
          text-decoration: underline;

          a {
            color: $white;
          }
        }
      }
    }
  }
}

.systemen-footer-section-1 {
  width: 100%;
  display: block;
  padding: 56px 0 24px 5px;

  .title {
    margin-bottom: 10px;
  }
}

.systemen-footer-section-2 {
  width: 100%;
  display: block;
  padding: 0 0 24px 5px;

  .title {
    margin-bottom: 10px;
  }

  .description {
    margin: 25px 0;
  }
}

.systemen-footer {
  margin-bottom: 45px;
}


// assortiment blocks

.assortiment-menu {
  .tabs-items {
    position: relative;
    top: 73px;
    width: 100%;
    margin: 0 auto;

    .item {
      display: block;
      float: left;
      cursor: pointer;
      background-color: $white;

      text-align: center;
      width: 50%;
      height: 90px;

      a {
        font-size: 14px;
        color: $black_light;
        display: block;
        height: 90px;
        line-height: 90px;

        &.active,
        &:hover {
          text-decoration: none;
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
}

.assortiment-details {
  margin-top: 90px;

  .text {
    padding: 0 10px;
  }

  .pane-title {
    color: $green_light;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .block-content {
    width: 100%;
    margin: 0 auto;
  }
}


.assortiment-block {

  &.assortiment-popular .block-content {
    background-color: $grey;
  }

  .block-title {
    font-size: 26px;
    text-align: center;
  }

  .block-title,
  .view {
    width: 100%;
    margin: 0 auto;
  }

  table {
    border: none;
    table-layout: fixed;

    thead {
      display: none;
    }

    th:first-child,
    th:nth-child(2),
    th:nth-child(3),
    .prod-link {
      text-align: center;
    }

    th {
      text-align: center;
      color: $grey_dark;
      font-size: 18px;
      padding: 19px 0 33px 0;

      &:last-child {
        width: 140px;
      }
      &:nth-child(2) {
        width: 180px;
      }
      &:nth-child(3) {
        width: 215px;
      }

    }

    tbody {
      tr {
        height: 230px;
        border-bottom: 1px solid #ccc;

        td {
          text-align: center;
        }

        .prod-link {
          padding-top: 17px;
        }

        .prod-amount,
        .prod-price {
          text-align: left;
        }

        .prod-amount {
          padding-left: 20px;
        }

        .product-assortiment-image {
          float: left;
          margin: 0 0 0 5px;
        }

        .product-assortiment-link {
          font-size: 12px;
          color: $green_light;
          text-decoration: underline;
          cursor: pointer;
        }

        .product-assortiment-popup {
          .close-btn {
            display: block;
            content: '';
            background: url("../images/close-btn.png") no-repeat;
            background-size: contain;
            width: 30px;
            height: 30px;
            cursor: pointer;
            float: right;
            position: relative;
            top: 10px;
            right: 10px;
          }

          &.hide {
            display: none;
          }

          &.show {
            display: block;
            position:absolute;
            left:0;
            right:0;
            margin-left:auto;
            margin-right:auto;
            background: $grey_light;
            width: 100%;
            margin-top: -170px;
            z-index: 100;

            p {
              text-align: left;
              padding: 0 10px;
            }

            .block {
              padding: 20px 0 20px 10px;
              text-align: left;
              width: 90%;

              &-1 {
                padding-bottom: 30px;
                border-bottom: 1px solid $grey_dark;
              }

              .title {
                margin-bottom: 10px;
                width: 100%;
                text-align: left;
              }

              .details-txt, p {
                text-align: left;
                padding: 0 10px;
              }

              .cell {
                width: 100%;

                .title {
                  text-align: left;
                }

              }
            }
          }
        }

        .sm-title {
          margin-bottom: 10px;
          padding-top: 32px;
          font-size: 17px;
          line-height: 20px;
        }

        .form-placeholder {
          input {
            width: 30px;
            height: 34px;
            text-align: center;
          }

          .minus,
          .plus {
            cursor: pointer;
            display: inline-block;
            position: relative;
            width: 14px;
            height: 14px;
            text-indent: -99999px;

            &:before {
              content: '';
              display: block;
              width: 100%;
              height: 2px;
              position: absolute;
              top: 11px;
              background: $green;
            }
          }

          .minus {
            margin-right: 2px;
          }

          .plus {
            margin-left: 2px;

            &:after {
              content: '';
              display: block;
              width: 2px;
              height: 100%;
              position: absolute;
              left: 6px;
              top: 5px;
              background: $green;
            }
          }
        }
      }
    }
  }
}

.product-order-header,
.product-order-radio-btns {
  width: 100%;
}

.product-order-header .field-item {
  padding: 0 10px;
  text-align: center;
}

.product-order-radio-btns {

  margin-bottom: 40px;

  input[name="product-option"] {
    display: none;
    float: left;
    margin-right: 20px;
  }

  .field-items {
    padding: 0 10px;
  }

  .field-item {
    font-size: 15px;
    line-height: 30px;
    padding-top: 10px;

  }

  .field-name-field-title,
  .field-name-field-description {
    display: block;
    float: left;
  }

  .field-name-field-title {
    width: 50%;
  }

  .field-name-field-description {
    margin-right: 10px;
  }

  .radio-button {
    width: 32px;
    height: 32px;
    background-image: url("../images/radio-btn.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    float: left;
    cursor: pointer;
    position: relative;
    top: 10px;
    margin-right: 20px;

    &.active {
      background-image: url("../images/radio-active-black-btn.png");
    }
  }
}

// Systemen details page
.systemen {

  .region-header {
    height: 484px;
  }
}

.systemen-details {
  .block {

    .title,
    .details-txt {
      padding-right: 10px;
      padding-left: 10px;
    }

    &.blue {
      background-color: $blue_bg;
      color: $white;
    }

    .cell {
      display: block;
      padding: 0 10px;

      .title {
        padding-bottom: 30px;
      }

      &.cell-2,
      &.cell-3 {
        padding-top: 40px;
      }
    }
  }

  .block-1 {
    .title {
      text-align: center;
      padding: 70px 10px 75px 10px;
    }

    .details-txt {
      text-align: center;
      padding: 0 10px 70px 10px;
    }
  }
  .block-2 {
    .details-txt {
      padding: 25px 10px 25px 10px;
      line-height: 30px;
    }
  }

  .block-5 {
    .title {
      line-height: 38px;
      text-align: center;
    }
  }
}


.assortiment {

  .region-header {
    height: 769px;
  }
}


.assortiment-total-price {
  width: 100%;
  margin: 60px auto 0;

  .block-inner {
    padding: 0 10px;
  }

  .pane-title {
    font-size: 17px;
    margin-bottom: 27px;
  }

  .total-wrapper.title {
    font-size: 26px;
  }

  table,
  thead,
  tbody,
  tr,
  td {
    border: none;
    color: $grey_light;
  }

  table {
    display: inline-block;

    tr {

      &:last-child {
        line-height: 55px;
      }
    }
  }


  .bottom-wrapper {
    color: $black_light;
    padding: 30px 0 70px 0;

    .details-text {
      display: block;
      padding: 0 10px 20px 0;
    }

  }
}

.page-home .product-items {
  display: none!important;
}

.page-home .product-items-owl {
  display: block!important;
}
