
// _base.scss imports _custom.scss and other partials.
@import "base";
@import "pages/service.mob";
@import "pages/faq.mob";
@import "pages/assortiment.mob";
@import "pages/systemen.mob";

body {
  padding: 0 !important;
  margin: 0 !important;
}

.top-menu,
.region-header .main-menu.main-menu-list,
.desc-section .product-img,
.hidden {
  display: none;
}

.pane-title,
.title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;

  &.sm-title {
    font-size: 36px;
  }
}


a.button,
.button a,
.webform-submit.button-primary {
  display: inline-block;
  position: relative;
  width: auto;
  height: 40px;
  padding: 0 60px 0 40px;
  background: $green;
  border: 4px solid $white;
  -webkit-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
  -moz-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
  box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  transition: background .2s ease-in;

  &:hover {
    background: $green_btn_hover;
    text-decoration: none;
  }

  &:after {
    display: block;
    position: absolute;
    content: '';
    background: url('../images/arrow-right.png') no-repeat;
    width: 23px;
    height: 12px;
    right: 17px;
    bottom: 15px;
  }
}

.clear {
  clear: both;
}

.systemen-details .wrapper-text,
.systemen-details .block-2,
.systemen-details .block-3,
.systemen-details .block-4,
.systemen-details .block-5,
.systemen-details .system-video,
#youtube-field-player {
  width: 100%;
  margin: 0 auto;
}

.block .cell .block-title {
  font-size: 15px;
  color: $yellow_light2;
}

// Top header section
.region-top-header {
  height: 90px;
  width: 100%;
  background: $green;

  .mob-menu {
    position: relative;
    display: block;
    z-index: 10;

    ul.menu {
      width: 100%;
      height: 420px;
      background: green;
      padding-top: 100px;
      display: none;
    }

    ul.menu.show {
      display: block;
    }

    ul.menu.close {
      display: none;
    }

    ul.menu li {
      font-size: 18px;
      text-align: left;
      padding: 5px 10px 5px 32px;
      border-top: 1px solid $grey_light;
    }

    .menuIcon {
      height: 80px;
      width: 66px;
      position: absolute;
      display: block;
      top: 15px;
      right: 15px;
      bottom: 0;
      cursor: pointer;

      span,
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 10%;
        left: 10%;
        height: 5px;
        background: $white;
      }

      @include transition(all 180ms ease);

      &:before {
        top: 10px;
      }
      span {
        top: 30px;
      }
      &:after {
        top: 50px;
      }

      &.close {
        @include transform(rotate(360deg));

        span {
          opacity: 0;
        }
        &:before {
          @include transform(rotate(45deg) translate(13px,19px));
        }
        &:after {
          @include transform(rotate(-45deg) translate(10px, -14px));
        }
      }
    }
  }
}

.region-top-header,
.region-footer {
  ul.menu {
    display: block;
    float: right;
    padding: 0;
    margin: 0;

    li {
      display: block;
      list-style-type: none;
      padding: 0 32px 0 2px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 40px;
      color: $white;
      text-align: right;
      text-transform: uppercase;

      a {
        cursor: pointer;
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
}

.region-header ul.menu li {
  transition: background .2s ease-in;

  &:hover {
    background: $green_btn_hover;
  }
}

.region-header {
  height: 900px;
  background: url('../images/main-header-bg.jpg') no-repeat;
  background-size: cover;
  position: relative;

  .logo {
    display: block;
    position: relative;
    top: -70px;
    left: 15px;
    width: 180px;
    height: auto;

    img {
      width: 180px;
      height: auto;
    }
  }

  .main-menu {
    display: block;
    position: absolute;
    right: 12px;
    top: 41px;
  }

  ul.menu {
    display: block;
    padding: 0;
    margin: 0;

    li {
      display: block;
      width: auto;
      list-style-type: none;
      text-decoration: none;
      float: left;
      margin-right: 20px;
      background: $green;
      border: 4px solid $white;
      -webkit-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
      -moz-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
      box-shadow: 6px 6px rgba(41, 117, 24, 0.7);

      a {
        padding: 15px;
        text-decoration: none;
        font-size: 18px;
        line-height: 40px;
        font-weight: 700;
        color: $white;
      }
    }
  }

  .header-details {
    position: relative;
    display: block;
    width: auto;
    height: 590px;
    background: $yellow;
    border: 15px solid $white;
    margin: 0 12px;

    .block-content {
      padding: 0;
    }

    .text {
      display: inline-block;
      position: relative;
      width: 100%;
      height: auto;
      text-align: center;

      .pane-title,
      .details-txt,
      p {
        max-width: 300px;
        margin: 35px auto 20px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    &.header-details-assortiments,
    &.header-details-systemen {

      height: 410px;

      .text {
        text-align: center;
      }
    }

    .product-img {
      display: inline-block;
      position: relative;
      background: url("../images/product.png") no-repeat;
      width: 100%;
      height: 320px;
      right: 0;
      bottom: 0;
      float: right;
      background-size: contain;
      background-position: 50% 0;

      &.assortiment {
        background: url("../images/assoriment-prod.png") no-repeat;
        background-size: contain;
        background-position: 50% 0;
        height: 200px;
        bottom: 0;
        float: right;
      }

      &.systemen {
        background: url("../images/systemen.png") no-repeat;
        background-size: contain;
        background-position: 50% 0;
        height: 200px;
        bottom: 0;
        float: right;
      }
    }
  }
}

.desc-section {
  display: block;
  position: relative;
  height: auto;
  margin-bottom: 50px;

  .pane-title {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: $green;
    margin: 50px 0 30px 0;
  }

  .details-txt {
    font-size: 15px;
    color: #2a2927;
    width: auto;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    line-height: 30px;
  }
}

// Section details 2
.desc-section-more {
  display: block;
  position: relative;
  background: $green;
  min-height: 1025px;

  &-footer {
    display: block;
    position: absolute;
    background: url("../images/footer.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 270px;
    z-index: 1;
    bottom: 0;
  }

  .pane-title {
    font-size: 20px;
    color: $yellow_light;

    padding-top: 60px;
    margin-bottom: 23px;
    text-align: center;
  }

  .details-txt {
    font-size: 15px;
    color: $white;
    width: auto;
    text-align: center;
    margin: 0 auto;
    line-height: 25px;
  }

  .product-items {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 10;
    background: $white;
    margin: 80px 20px 0;
    padding: 10px;
    width: auto;
    min-height: 560px;

    .item {
      display: block;
      width: 100%;
      height: 517px;
      background: $yellow;
      float: left;
      margin-right: 20px;
      padding-top: 38px;
      text-align: center;

      .product-img {
        height: 200px;
      }

      .details-txt {
        width: auto;
        margin-bottom: 35px;
        color: $black_light;
      }

      .prod-title {
        font-size: 24px;
        color: $black_light;
        margin: 60px auto 17px;
      }

      .button a {
        margin-bottom: 40px;
      }

      &-1 {
        .product-img {
          background: url("../images/header-carrousel.png") no-repeat;
          width: 136px;
          height: 205px;
          margin: 0 auto;
        }
      }

      &.last {
        margin-right: 0;
      }
    }
  }
}

// Footer section
.region-footer {
  display: block;
  width: 100%;
  height: 170px;
  background: $black_light;

  ul.menu {
    display: block;
    margin-top: 30px;

    li {
      display: block;
    }
  }
}

.page-home .product-items {
  display: none!important;
}

.page-home .product-items-owl {
  display: block!important;
}
