@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/_custom\.scss}line{font-family:\00003195}}
.bottom-30 {
  margin-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/_custom\.scss}line{font-family:\00003199}}
.bottom-80 {
  margin-bottom: 80px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/_custom\.scss}line{font-family:\00003203}}
.bottom-90 {
  margin-bottom: 90px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/_custom\.scss}line{font-family:\00003207}}
.bottom-95 {
  margin-bottom: 95px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/_custom\.scss}line{font-family:\00003212}}
.bottom-120 {
  margin-bottom: 120px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/_custom\.scss}line{font-family:\00003216}}
.top-95 {
  margin-top: 95px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/_custom\.scss}line{font-family:\00003220}}
.center {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\000035}}
.pane-title,
.title {
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\0000312}}
.pane-title.sm-title,
.title.sm-title {
  font-size: 36px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\0000318}}
a.button,
.button a {
  display: inline-block;
  position: relative;
  width: auto;
  height: 40px;
  padding: 0 60px 0 40px;
  background: #046a28;
  border: 4px solid #ffffff;
  -webkit-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
  -moz-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
  box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\0000339}}
a.button:hover,
.button a:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\0000343}}
a.button:after,
.button a:after {
  display: block;
  position: absolute;
  content: '';
  background: url("../images/arrow-right.png") no-repeat;
  width: 23px;
  height: 12px;
  right: 17px;
  bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\0000355}}
.clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\0000359}}
.systemen-details .wrapper-text,
.systemen-details .block-2,
.systemen-details .block-3,
.systemen-details .block-4,
.systemen-details .block-5,
.systemen-details .system-video {
  width: 1080px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\0000369}}
.block .cell .block-title {
  font-size: 15px;
  color: #bccf1b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\0000375}}
.region-top-header {
  height: 40px;
  width: 100%;
  background: #046a28;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\0000383}}
.region-top-header ul.menu,
.region-footer ul.menu {
  display: inline;
  float: right;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\0000389}}
.region-top-header ul.menu li,
.region-footer ul.menu li {
  display: inline;
  list-style-type: none;
  padding: 0 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003101}}
.region-top-header ul.menu li a,
.region-footer ul.menu li a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003111}}
.region-header {
  height: 900px;
  background: url("../images/main-header-bg.jpg") no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003116}}
.region-header .logo {
  display: block;
  position: relative;
  top: -20px;
  left: 20px;
  width: 196px;
  height: 124px;
  background: url("../images/logo.png") no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003126}}
.region-header .main-menu {
  display: block;
  position: relative;
  float: right;
  top: -90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003134}}
.region-header ul.menu {
  display: block;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003139}}
.region-header ul.menu li {
  display: block;
  width: auto;
  list-style-type: none;
  text-decoration: none;
  float: left;
  margin-right: 20px;
  background: #046a28;
  border: 4px solid #ffffff;
  -webkit-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
  -moz-box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
  box-shadow: 6px 6px rgba(41, 117, 24, 0.7);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003152}}
.region-header ul.menu li a {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003163}}
.region-header .header-details {
  position: relative;
  display: block;
  width: auto;
  height: 590px;
  background: #fce202;
  border: 20px solid #ffffff;
  margin: 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003172}}
.region-header .header-details .text {
  display: block;
  position: relative;
  width: 700px;
  top: 100px;
  left: 100px;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003181}}
.region-header .header-details .product-img {
  display: inline-block;
  position: relative;
  background: url("../images/product.png") no-repeat;
  width: 660px;
  height: 529px;
  right: 50px;
  bottom: 260px;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003191}}
.region-header .header-details .product-img.assortiment {
  background: url("../images/assoriment-prod.png") no-repeat;
  width: 279px;
  height: 212px;
  right: 50px;
  bottom: 0px;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003200}}
.region-header .header-details .product-img.systemen {
  background: url("../images/systemen.png") no-repeat;
  width: 233px;
  height: 269px;
  right: 50px;
  bottom: 0px;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003213}}
.desc-section {
  display: block;
  position: relative;
  height: 450px;
  padding-top: 135px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003219}}
.desc-section .pane-title {
  text-align: center;
  color: #046a28;
  margin: 0 0 50px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003225}}
.desc-section .details-txt {
  font-size: 15px;
  color: #2a2927;
  width: 515px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003234}}
.desc-section .product-img {
  display: block;
  position: absolute;
  right: 0;
  background: url("../images/product-img-2.png") no-repeat;
  width: 503px;
  height: 529px;
  bottom: -60px;
  background-size: cover;
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003250}}
.desc-section-more {
  display: block;
  position: relative;
  background: #046a28;
  min-height: 1025px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003256}}
.desc-section-more-footer {
  display: block;
  position: absolute;
  background: url("../images/footer.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 270px;
  z-index: 1;
  bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003267}}
.desc-section-more .pane-title {
  font-size: 36px;
  color: #fff100;
  padding-top: 90px;
  margin-bottom: 23px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003276}}
.desc-section-more .details-txt {
  font-size: 15px;
  color: #ffffff;
  width: 515px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003285}}
.desc-section-more .product-items {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 10;
  background: #ffffff;
  margin: 80px 20px 0;
  padding: 10px;
  width: auto;
  min-height: 560px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003296}}
.desc-section-more .product-items .item {
  display: block;
  max-width: 250px;
  min-width: 220px;
  height: 517px;
  background: #fce202;
  float: left;
  margin-right: 20px;
  padding-top: 38px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003307}}
.desc-section-more .product-items .item .details-txt {
  width: auto;
  margin-bottom: 35px;
  color: #2a2927;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003313}}
.desc-section-more .product-items .item .prod-title {
  font-size: 24px;
  color: #2a2927;
  margin: 60px auto 17px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003319}}
.desc-section-more .product-items .item .button a {
  margin-bottom: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003324}}
.desc-section-more .product-items .item-1 .product-img {
  background: url("../images/header-carrousel.png") no-repeat;
  width: 136px;
  height: 205px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003332}}
.desc-section-more .product-items .item.last {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003341}}
.region-footer {
  display: block;
  width: 100%;
  height: 90px;
  background: #2a2927;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003347}}
.region-footer ul.menu {
  margin-top: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003358}}
.systemen-overview {
  display: block;
  color: #ffffff;
  margin: 20px;
  top: -160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003364}}
.systemen-overview .systemen {
  display: block;
  height: 410px;
  padding: 70px 10px 0 10px;
  margin: 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003370}}
.systemen-overview .systemen.red {
  background-color: #cf3227;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003373}}
.systemen-overview .systemen.blue {
  background-color: #09a2c9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003376}}
.systemen-overview .systemen.green {
  background-color: #289448;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003380}}
.systemen-overview .systemen .product-img {
  float: left;
  width: 50%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003386}}
.systemen-overview .systemen .prod-title {
  font-size: 36px;
  line-height: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003391}}
.systemen-overview .systemen .product-text {
  float: left;
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003395}}
.systemen-overview .systemen .product-text .product-txt {
  font-size: 15px;
  line-height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003399}}
.systemen-overview .systemen .product-text .product-txt .bold {
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003404}}
.systemen-overview .systemen .product-text .product-details-desc {
  color: #2a2927;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003408}}
.systemen-overview .systemen .product-text .product-links {
  margin-top: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003411}}
.systemen-overview .systemen .product-text .product-links .btn-more {
  width: 50%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003416}}
.systemen-overview .systemen .product-text .product-links .product-details-info {
  padding: 12px 0 0 0;
  color: #ffffff;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003421}}
.systemen-overview .systemen .product-text .product-links .product-details-info a {
  color: #ffffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003430}}
.systemen-footer-section-1 {
  width: 50%;
  display: block;
  float: left;
  padding: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003441}}
.assortiment-menu .tabs-items {
  position: relative;
  top: 24px;
  width: 1080px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003447}}
.assortiment-menu .tabs-items .item {
  display: block;
  float: left;
  cursor: pointer;
  background-color: #ffffff;
  text-align: center;
  width: 270px;
  height: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003457}}
.assortiment-menu .tabs-items .item a {
  font-size: 18px;
  color: #2a2927;
  display: block;
  width: 270px;
  height: 90px;
  line-height: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003465}}
.assortiment-menu .tabs-items .item a.active, .assortiment-menu .tabs-items .item a:hover {
  text-decoration: none;
  background-color: #09a4cb;
  color: #ffffff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003476}}
.assortiment-details {
  margin-top: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003479}}
.assortiment-details .pane-title {
  color: #289448;
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003484}}
.assortiment-details .block-content {
  width: 1080px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003493}}
.assortiment-block.assortiment-popular .block-content {
  background-color: #ebebeb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003497}}
.assortiment-block .block-title {
  font-size: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003501}}
.assortiment-block .block-title,
.assortiment-block .view {
  width: 1080px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003507}}
.assortiment-block table {
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003510}}
.assortiment-block table th:first-child,
.assortiment-block table .prod-link {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003515}}
.assortiment-block table th {
  text-align: center;
  color: #8a8a89;
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003526}}
.assortiment-block table tbody tr {
  height: 230px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003529}}
.assortiment-block table tbody tr td {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003533}}
.assortiment-block table tbody tr .prod-link {
  width: 50%;
  padding-top: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003538}}
.assortiment-block table tbody tr .prod-amount,
.assortiment-block table tbody tr .prod-price {
  width: 15%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003543}}
.assortiment-block table tbody tr .product-assortiment-image {
  float: left;
  margin: 0 30px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003548}}
.assortiment-block table tbody tr .product-assortiment-link {
  font-size: 15px;
  color: #289448;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003555}}
.assortiment-block table tbody tr .sm-title {
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003560}}
.assortiment-block table tbody tr .form-placeholder input {
  width: 60px;
  height: 40px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003566}}
.assortiment-block table tbody tr .form-placeholder .minus,
.assortiment-block table tbody tr .form-placeholder .plus {
  font-size: 16px;
  color: #046a28;
  padding: 10px;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003583}}
.systemen-details .block.blue {
  background-color: #36a0e5;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003588}}
.systemen-details .block .cell {
  max-width: 250px;
  display: block;
  float: left;
  margin-right: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003594}}
.systemen-details .block .cell .title {
  padding-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003601}}
.systemen-details .block-1 .title {
  padding: 170px 0 75px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003605}}
.systemen-details .block-1 .details-txt {
  padding: 0 0 70px 0;
  max-width: 730px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Elena\/Documents\/projects\/CupOfSoup\/htdocs\/sites\/all\/themes\/cupasoup\/sass\/responsive\.desktop\.scss}line{font-family:\00003611}}
.systemen-details .block-2 .details-txt {
  padding: 75px 0 70px 0;
  max-width: 380px;
  line-height: 30px;
}
